@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: 'Roboto','Baloo Bhaijaan 2' ,sans-serif;
    font-family: 'Signika Negative','Baloo Bhaijaan 2' ,sans-serif;
    

}
nav{
    background-color: #121212;
    color:#FFFFFF;
    margin-top: 0;
    margin-bottom: 25px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    
}


.nav-cont{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: last baseline;
    /* margin-top: 20px; */
    
}



.nav-cont ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    

}
.nav-cont ul li a{
    text-decoration: none;
    font-size: 20px;
    color: inherit;

}

.home-cont{
    
    
    width: 100%;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 10px;
    position: relative;
    

}

.cont{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: aqua  ; */
}

.home-head{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center;
}

.post-cont{
    /*   */
    /* border-radius: 5px; */
    /* background-color: aquamarine; */

}

.card-post{
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: rgb(255, 255, 255); */
    padding: 25px 20px;
    
    border: none;
    /* border-top: 1px solid rgb(178, 178, 178); */
   
    min-height: 200px;
    position: relative;
    

}

.card-post::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    
    background-color: rgb(178, 178, 178);
    bottom: 0;
    left: 0;
   
    

}

.card-post h2{
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    font-weight: 700;
    
    

}

.card-post p{
    font-size: 25px;
    margin-top: 40px;
    
    

}

.card-post Button{
    width: 100px;
    
    
    

}

.but{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
   
}

.add-post-but{
    background-color: #121212;
    padding: 10px;
    position: fixed;
    border-radius: 50%;
    left: 84%;
    bottom: 20px;

}

.sii{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.acc{
    background-color: #e1e8ed;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
    border: #bcbcbc 1px solid;  
    
}

.acc-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.acc-img p{
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
}

.acc-img .em{
    color: #8b8989;
    font-weight: 200;
    font-size: 15px;
    margin-top: -18px;
}

.acc-info{
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
    
}

/* .form{
 display: flex;
 flex-direction: column;
 gap: 40px;   
}

.form-grouP{
    display: flex;
    flex-direction: column;

}

.form-grouP label{
    display: block;
   
    
} */

@media (max-width:787px) {
    .home-head{
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 30px;
        padding-top: 20px;
        text-align: center;
    }
   
    .card-post p{
        font-size: 15px;
        margin-top: 5px;
        
        
    
    }

    .card-post h2{
        font-size: 20px;
        margin-top: 5px;
        
        
    
    }

    .card-post .my{
       
        font-size: 12px;
        

        
        
   
    }

    .but{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        height: 100%;
        align-items: end;
    }

    .time{
        font-size: 12px;
    }
}

